{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script type="text/javascript" src={% static 'amovies/js/jquery.js' %}></script>
    <script type="text/javascript" src={% static 'amovies/js/bootstrap.js' %}></script>
    <link rel="stylesheet" href="{% static 'amovies/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'amovies/css/bootstrap-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'amovies/css/swiper.css' %}"/>
    <script type="text/javascript" src="{% static 'amovies/js/swiper.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'amovies/css/reset.css' %}"/>
</head>
<body>

<form action="{% url 'amovies:doregister' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">用户名</label>
        <input type="text" class="form-control" name="username" placeholder="请输入用户名">
        <p class="help-block">请输入6-16位用户名</p>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">密码</label>
        <input type="password" class="form-control" name="userpassword" placeholder="请输入密码">
        <p class="help-block">请输入6位以上拼音字母组合密码</p>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">确认密码</label>
        <input type="password" class="form-control" placeholder="请再次输入密码">
        <p class="help-block">请再次输入6位以上拼音字母组合密码</p>
    </div>
      <div class="form-group">
        <label for="exampleInputPassword1">邮箱</label>
        <input type="text" name="useremail" class="form-control" placeholder="请输入邮箱">
        <p class="help-block">请输入邮箱包含@符号</p>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">头像</label>
        <input type="file" name="usericon">

    </div>
    <div class="submit">
        <button type="submit" class="btn btn-primary">注册</button>
    </div>
    {#    <span>用户名:</span><input type="text" name="username" placeholder="请输入用户名">#}
    {#    <br>#}
    {#    <span>密码:</span><input type="password" name="userpassword" placeholder="请输入密码">#}
    {#    <br>#}
    {#    <span>确认密码:</span><input type="password" placeholder="请再次输入密码">#}
    {#    <br>#}
    {#    <span>邮箱:</span><input type="text" name="useremail" placeholder="请输入邮箱">#}
    {#    <br>#}
    {#    <span>头像:</span><input type="file" name="usericon" placeholder="请选择头像">#}
    {#    <br>#}
    {#    <input type="submit" value="注册">#}
</form>

</body>
</html>